<div class="section">
  <mat-card class="card">
    <form [formGroup]="formGroup">
      <div class="card__title">Register</div>
      <input formControlName="name" placeholder="Name" class="card__input">
      <div class="error-message" *ngIf="f.name.errors">Enter correct name, please</div>
      <input formControlName="surname" placeholder="Surname" class="card__input">
      <div class="error-message" *ngIf="f.surname.errors">Enter correct surname, please</div>
      <div class="card__radio-section">
        <div class="card__message">
          Role:
        </div>
        <div class="card__radio-section__radio-buttons">
          <label>
            <input type="radio" value="Teacher" formControlName="role">
            <span>Teacher</span>
          </label>
          <label>
            <input type="radio" value="Student" formControlName="role">
            <span>Student</span>
          </label>
        </div>
      </div>
      <input type="date" formControlName="birthDate" class="card__input">
      <div class="error-message" *ngIf="f.birthDate.errors">Sorry,
         the age of user should be more than 10 and less than 100</div>
      <input formControlName="login" placeholder="Login" class="card__input">
      <div class="error-message" *ngIf="f.login.errors">Enter correct email, please</div>
      <input formControlName="password" placeholder="Password" class="card__input" type="password">
      <div class="error-message" *ngIf="f.password.errors">
        Enter minimum eight characters, at least one letter and one number
      </div>
      <div class="card__buttons">
        <button class="card__button card__button__login"
                mat-button
                (click)="submit()"
                [disabled]="formGroup.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</div>

