.section {
  background-color: var(--bg-color);
  width: 100%;
  height: 130vh;
}

.cards {
  padding-top: 40px;
}

.card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--gray-G0-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  &__info {
    
  }

  &__title {
    font-size: 30px;
    color: var(--gray-font-main-color);

    span {
      color: var(--gray-font-color);
    }
  }

  &__sub-title {
    color: var(--gray-font-main-color);
    font-size: 18px;
    padding-top: 10px;

    span {
      color: var(--gray-font-color);
      font-size: 22px;
    }
  }

  &__dropdown {

    &__title {
      font-size: 22px;
      padding-top: 50px;
      padding-bottom: 10px;
      color: var(--gray-font-main-color);
      font-weight: bold;
    }
  }

  &__tasks {
    width: 57%;
    height: 270px;
    overflow: auto;
  }

  &__exercise {
    padding: 10px;
    padding-right: 20px;

    &__title-block {
      display: flex;
      justify-content: space-between;
    }

    &__sub-title {
      color: var(--gray-font-main-color);
      font-size: 18px;
    }

    &__title {
      font-size: 30px;
      color: var(--gray-font-color);
      padding-top: 10px;
      padding-bottom: 5px;
    }

    &__more {
      padding-top: 30px;
      font-weight: bold;
      color: var(--gray-font-main-color);
    }

    &__task {
      margin-top: 25px;
      font-size: 20px;

      &__answers {
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
        font-size: 18px;
      }
    }
  }
}

.greenbg {
  border: 2px solid var(--green-color);
  padding: 10px;
  border-radius: 30px;
}

.dropdown {
  width: 500px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;

  option {
    width: 500px;
  }
}

table {
  margin-top: 20px;
}

td {
  width: 200px;
  height: 40px;
  border: 1px solid black;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: var(--bg-color);
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: black;
  cursor:pointer;
  font-size: 1em;
}

select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 400px;
  height: 3em;
  line-height: 3;
  background: var(--bg-color);
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: linear-gradient(0.25turn, var(--blue-color), var(--purple-color), var(--red-color));  ;
  cursor:pointer;
  color: #ffffff;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: var(--green-color);
}

.option {
  height: 100px;
}

.shadow {
  box-shadow:0 0 30px #ebebff;
  border-radius: 3px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(0.5turn, var(--blue-color), var(--purple-color), var(--red-color)); 
  border-radius: 10px;
}

.pic {
  width: 100%;
  height: 100%;
  background: url("/../../../../../assets/pic4.png") no-repeat;
  //background-size: 40% 100%;
  background-size: cover;
  background-position: left center;
}
