<div class="card">
  <div class="card__title-block">
    <div class="card__sub-title">
      {{ taskNumber }}
    </div>
    <div class="card__sub-title">
      {{ task.status }}
    </div>
  </div>
  <div class="card__title">
    {{ task.taskTitle }}
  </div>
  <div>
    {{ task.taskInfo }}
  </div>
  <div class="card__button card__sub-title" (click)="openTest()">
    MORE
  </div>
  <div *ngIf="isOpenedTest" class="card__test">
    <div class="card__test__task" *ngFor="let test of task.tests; let i = index">
      <div class="card__test__task__title">
        {{ test.question }}
      </div>
      <div class="card__test__task__answers">
        <label class="card__test__task__answer"
               *ngFor="let answer of test.answers; let j = index"
               [class.greenbg]="isDone&&answer.correct">
          <input type="radio" [name]=i (change)="onAnswer(i, j)" [class.greenbg]="isDone">
          {{ answer.option }}
        </label>
      </div>
    </div>
    <div class="card__test__button button button-active" (click)="saveCard()">
      Save
    </div>
  </div>
</div>
