<div class="section">
  <app-nav-bar [activeItem]="'avaliableStudents'"></app-nav-bar>

  <div class="pic">
  <div class="cards">
    <div class="card" *ngFor="let student of avaliableStudents">
      <div>
        <div class="card__title">
          Name of student: <span>{{ student.user.name }} {{student.user.surname}}</span>
        </div>
        <div class="card__sub-title">
          Level of English: <span>{{ student.levelOfEnglish }}</span>
        </div>
      </div>
      <div class="button button-active card__button" (click)="addStudent(student)">
        ADD
      </div>
    </div>
  </div>
</div>
</div>

