@mixin style-color() {
  --bg-color: #F8F8FA;
  --border-color: #E8E8E8;
  --disabled-color: #CED2DD;

  --gray-G0-color: #FFFFFF;
  --gray-font-color: #141B30;
  --gray-font-main-color: #767E84;

  --blue-color: #143BFF;
  --purple-color: #AA01DE;
  --red-color: #F93433;
  --green-color: #86dc3d;
}

* {
  @include style-color;
  font-family: sans-serif;
}

.button {
  height: 50px;
  line-height: 50px;
  color: var(--gray-G0-color);
  border-radius: 5px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-active {
  width: 200px;
  background: linear-gradient(0.25turn, var(--blue-color), var(--purple-color), var(--red-color));
}
.button-active:disabled {
  background: #767E84;
}

input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
