<div class="test">
  <div class="test__title">
    Language level test
  </div>
  <div class="test__sub-title">
    Fill the gap
  </div>

  <div class="test__task" *ngFor="let test of freshmanTest; let i = index">
    <div class="test__task__title">
      {{ test.question }}
    </div>
    <div class="test__task__answers">
      <label class="test__task__answer" *ngFor="let answer of test.answers">
          <input type="radio" [name]=i (change)="onAnswer(i, answer.correct)" />
          {{ answer.option }}
      </label>
    </div>
  </div>

  <div
    class="test__button button button-active"
    (click)="saveAnswers()"
  >
    Save answers
  </div>
</div>

