<div class="test">
  <div class="test__title">
    Language level test
  </div>
  <div class="test__sub-title">
    Fill the gap
  </div>
  <div class="test__task">
    <div class="test__task__title">
      1. What __ you doing in this place?
    </div>
    <div class="test__task__answers">
      <div class="test__task__answer">
        <input type="radio" id="freshman_1_1" name="freshman_1" value="are">
        <label for="freshman_1_1">are</label>
      </div>
      <div class="test__task__answer">
        <input type="radio" id="freshman_1_2" name="freshman_1" value="is">
        <label for="freshman_1_2">is</label>
      </div>
      <div class="test__task__answer">
        <input type="radio" id="freshman_1_3" name="freshman_1" value="do">
        <label for="freshman_1_3">do</label>
      </div>
    </div>
  </div>

  <div class="test__task">
    <div class="test__task__title">
      2. What __ you doing in this place?
    </div>
    <div class="test__task__answers">
      <div class="test__task__answer">
        <input type="radio" id="freshman_2_1" name="freshman_2" value="are">
        <label for="freshman_2_1">are</label>
      </div>
      <div class="test__task__answer">
        <input type="radio" id="freshman_2_2" name="freshman_2" value="is">
        <label for="freshman_2_2">is</label>
      </div>
      <div class="test__task__answer">
        <input type="radio" id="freshman_2_3" name="freshman_2" value="do">
        <label for="freshman_2_3">do</label>
      </div>
    </div>
  </div>

  <div class="test__task">
    <div class="test__task__title">
      3. What __ you doing in this place?
    </div>
    <div class="test__task__answers">
      <div class="test__task__answer">
        <input type="radio" id="freshman_3_1" name="freshman_3" value="are">
        <label for="freshman_3_1">are</label>
      </div>
      <div class="test__task__answer">
        <input type="radio" id="freshman_3_2" name="freshman_3" value="is">
        <label for="freshman_3_2">is</label>
      </div>
      <div class="test__task__answer">
        <input type="radio" id="freshman_3_3" name="freshman_3" value="do">
        <label for="freshman_3_3">do</label>
      </div>
    </div>
  </div>

  <div class="test__task">
    <div class="test__task__title">
      4. What __ you doing in this place?
    </div>
    <div class="test__task__answers">
      <div class="test__task__answer">
        <input type="radio" id="freshman_4_1" name="freshman_4" value="are">
        <label for="freshman_4_1">are</label>
      </div>
      <div class="test__task__answer">
        <input type="radio" id="freshman_4_2" name="freshman_4" value="is">
        <label for="freshman_4_2">is</label>
      </div>
      <div class="test__task__answer">
        <input type="radio" id="freshman_4_3" name="freshman_4" value="do">
        <label for="freshman_4_3">do</label>
      </div>
    </div>

    <div class="test__task">
      <div class="test__task__title">
        5. What __ you doing in this place?
      </div>
      <div class="test__task__answers">
        <div class="test__task__answer">
          <input type="radio" id="freshman_5_1" name="freshman_5" value="are">
          <label for="freshman_5_1">are</label>
        </div>
        <div class="test__task__answer">
          <input type="radio" id="freshman_5_2" name="freshman_5" value="is">
          <label for="freshman_5_2">is</label>
        </div>
        <div class="test__task__answer">
          <input type="radio" id="freshman_5_3" name="freshman_5" value="do">
          <label for="freshman_5_3">do</label>
        </div>
      </div>
    </div>
    <div class="test__task">
      <div class="test__task__title">
        6. What __ you doing in this place?
      </div>
      <div class="test__task__answers">
        <div class="test__task__answer">
          <input type="radio" id="freshman_6_1" name="freshman_6" value="are">
          <label for="freshman_6_1">are</label>
        </div>
        <div class="test__task__answer">
          <input type="radio" id="freshman_6_2" name="freshman_6" value="is">
          <label for="freshman_6_2">is</label>
        </div>
        <div class="test__task__answer">
          <input type="radio" id="freshman_6_3" name="freshman_6" value="do">
          <label for="freshman_6_3">do</label>
        </div>
      </div>
    </div>
  </div>

  <div
    class="test__button button button-active"
    (click)="saveAnswers()"
  >
    Save answers
  </div>
</div>

